In [2]:
!pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
# Importing the pandas library, which is used for data manipulation and analysis.
import pandas as pd

# Using pd.read_csv() to load the data from a CSV file into a pandas DataFrame.
# The file path points to 'iris.csv', a well-known dataset often used for machine learning and data analysis.
df = pd.read_csv('/Users/pranavashokdivekar/this_mac/Foundations Of Data Science/iris.csv')

# The .head() function returns the first 5 rows of the DataFrame by default.
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa

In [3]:
# Create a DataFrame for the Iris dataset
data = {
    'sepal_length': [5.1, 4.9, 4.7, 4.6],
    'sepal_width': [3.5, 3.0, 3.2, 3.1],
    'petal_length': [1.4, 1.4, 1.3, 1.5],
    'petal_width': [0.2, 0.2, 0.2, 0.2],
    'species': ['setosa', 'setosa', 'setosa', 'setosa']
}

df = pd.DataFrame(data)

In [4]:
df

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa

In [5]:
# Write the DataFrame to a CSV file
df.to_csv('/Users/pranavashokdivekar/this_mac/Foundations Of Data Science/iris.csv', index=False)